<div id="loan-assignment" class="container-fluid">

	<div class="card mb-3">
		<div class="card-header p-2">

			<div class="float-right">
				<!-- Add User
				<launch-modal classes="btn btn-primary btn-sm mr-2" modal="UserAddModalComponent" size="xl" (onSuccess)="doSomething($event)">
					<i class="fa fa-user-plus" aria-hidden="true"></i> Add User
				</launch-modal>
				 -->
				<!-- Refresh users
				<button class="btn btn-icon btn-sm mr-2" (click)="usersRefresh()" [disabled]="routeData?.state?.loading">
					<i class="fa fa-refresh"></i>
				</button>
				 -->
			</div>

			<div class="d-inline-block mr-2">
				<div class="input-group input-group-sm">
					<span class="input-group-addon" id="sizing-addon2">Channel:</span>
					<select class="form-control form-control-inline">
						<option>LDW</option>
						<option>Wholesale</option>
					</select>
				</div>
			</div>


			<div class="d-inline-block mr-2">
				<div class="input-group input-group-sm">
					<input class="form-control" placeholder="Start Date" style="max-width: 100px;"
						   name="dp" [(ngModel)]="dateStart" ngbDatepicker #dStart="ngbDatepicker">
					<button class="btn btn-secondary input-group-addon" (click)="dStart.toggle()" type="button">
						<i class="fa fa-calendar" aria-hidden="true"></i>
					</button>
				</div>
			</div>

			<div class="d-inline-block mr-2">
				<div class="input-group input-group-sm">
					<input class="form-control" placeholder="End Date" style="max-width: 100px;"
						   name="dp" [(ngModel)]="dateEnd" ngbDatepicker #dEnd="ngbDatepicker">
					<button class="btn btn-secondary input-group-addon" (click)="dEnd.toggle()" type="button">
						<i class="fa fa-calendar" aria-hidden="true"></i>
					</button>
				</div>
			</div>

			<div class="d-inline-block mr-2">
				<button class="btn btn-primary btn-sm"><i class="fa fa-home" aria-hidden="true"></i> Get Loans</button>
			</div>


			<!-- Pod Change
			<form class="form-inline mr-2 d-inline-block">
				<label>
					<select class="form-control form-control-sm" (change)="podChange($event)">
						<option selected disabled>-- POD --</option>
						<option *ngFor="let pod of pods">{{pod}}</option>
					</select>
				</label>
			</form>
			-->
			<!-- Filter datatable
			<form class="form-inline mr-2 d-inline-block">
				<label class="icon search" style="position:relative;">
					<input class="form-control form-control-sm filterSearch" type="text" name="userSearchTerm" placeholder="Search users" [(ngModel)]="userSearchTerm" />
					<a (click)="userSearchTerm = null" *ngIf="userSearchTerm" style="position:absolute;right: 10px;"><i class="fa fa-remove"></i></a>
				</label>
			</form>
			 -->
		</div>
	</div>

	<!-- Accordion-->
	<!--
	 *ngIf="(users | filter: userSearchTerm:'name' | debounce) as usersFiltered"
	-->
	<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="accordion-md" *ngIf="loans$ | async as loans">
		<ngb-panel *ngFor="let loan of loans">
			<ng-template ngbPanelTitle>
				<strong>Processed on {{loan.dateProcessed | date}}</strong>
				<div class="float-right">
					<span class="badge badge-warning" style="font-weight: normal;min-width:100px;" *ngIf="loan?.loansUnassigned?.length">
						Unassigned: <strong>{{loan.loansUnassigned.length}}</strong>
					</span>
					<span class="badge badge-success mr-2" style="font-weight: normal;min-width:100px;">
						Assigned: <strong>{{loan.loansAssigned.length}}</strong>
					</span>
				</div>
			</ng-template>
			<ng-template ngbPanelContent>
				<div class="p-3">


					<!-- Tabs-->
					<ngb-tabset>
						<ngb-tab>
							<ng-template ngbTabTitle><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Unassigned Loans</ng-template>
							<ng-template ngbTabContent>
								<div class="p-3" >

									<!--
									<datagrid #datagrid *ngIf="loan?.loansUnassigned?.length"
											  [rows]="loan.loansUnassigned"
											  [columns]="columns"
											  [state]="state"
											  [options]="options">
									</datagrid>
									<div *ngIf="!loan?.loansUnassigned?.length">
									No unassigned loans.
									</div>
									-->
								
									<table class="table table-sm table-hover">
										<thead>
											<tr>
												<th>Loan Number</th>
												<th>Product</th>
												<th>Type</th>
												<th>Loan Amount</th>
												<th>NDC</th>
												<th>TBD</th>
												<th>MI</th>
												<th>COOP</th>
												<th>TCF</th>
												<th>203K</th>
												<th>CEMA</th>
												<th class="text-right">Assign</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let loanSub of loan.loansUnassigned;">
												<td>{{loanSub.lnkey}}</td>
												<td>{{loanSub.product}}</td>
												<td>{{loanSub.type}}</td>
												<td>{{loanSub.loanAmt | currency}}</td>
												<td>
													<i class="fa fa-check" *ngIf="loanSub.ndc" aria-hidden="true"></i>
												</td>
												<td>
													<i class="fa fa-check" *ngIf="loanSub.tbd" aria-hidden="true"></i>
												</td>
												<td>
													<i class="fa fa-check" *ngIf="loanSub.mi" aria-hidden="true"></i>
												</td>
												<td>
													<i class="fa fa-check" *ngIf="loanSub.coop" aria-hidden="true"></i>
												</td>
												<td>
													<i class="fa fa-check" *ngIf="loanSub.tcf" aria-hidden="true"></i>
												</td>
												<td>
													<i class="fa fa-check" *ngIf="loanSub['203k']" aria-hidden="true"></i>
												</td>
												<td>
													<i class="fa fa-check" *ngIf="loanSub.cema" aria-hidden="true"></i>
												</td>
												<td class="text-right">
													<launch-modal classes="btn btn-primary btn-sm mr-2" modal="LoanAssignModalComponent" size="lg" [dataAlt]="loanSub.lnkey" (onSuccess)="doSomething($event)">
														<i class="fa fa-share" aria-hidden="true"></i> Assign
													</launch-modal>
												</td>
											</tr>
										</tbody>
									</table>
									
								</div>
							</ng-template>
						</ngb-tab>
						<ngb-tab>
							<ng-template ngbTabTitle><i class="fa fa-check" aria-hidden="true"></i> Assigned Loans</ng-template>
							<ng-template ngbTabContent>
								<div class="p-3">
									<table class="table table-sm table-hover">
										<thead>
											<tr>
												<th>Loan Number</th>
												<th>Product</th>
												<th>Type</th>
												<th>Loan Amount</th>
												<th>NDC</th>
												<th>TBD</th>
												<th>MI</th>
												<th>COOP</th>
												<th>TCF</th>
												<th>203K</th>
												<th>CEMA</th>
												<th style="width:12%;">Current Assignee</th>
												<th class="text-right" style="width:12%;">Reassign</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let loanSub of loan.loansAssigned;">
												<td>{{loanSub.lnkey}}</td>
												<td>{{loanSub.product}}</td>
												<td>{{loanSub.type}}</td>
												<td>{{loanSub.loanAmt | currency}}</td>
												<td>
													<i class="fa fa-check" *ngIf="loanSub.ndc" aria-hidden="true"></i>
												</td>
												<td>
													<i class="fa fa-check" *ngIf="loanSub.tbd" aria-hidden="true"></i>
												</td>
												<td>
													<i class="fa fa-check" *ngIf="loanSub.mi" aria-hidden="true"></i>
												</td>
												<td>
													<i class="fa fa-check" *ngIf="loanSub.coop" aria-hidden="true"></i>
												</td>
												<td>
													<i class="fa fa-check" *ngIf="loanSub.tcf" aria-hidden="true"></i>
												</td>
												<td>
													<i class="fa fa-check" *ngIf="loanSub['203k']" aria-hidden="true"></i>
												</td>
												<td>
													<i class="fa fa-check" *ngIf="loanSub.cema" aria-hidden="true"></i>
												</td>
												<td>John Smith</td>
												<td class="text-right">
													<launch-modal classes="btn btn-primary btn-sm mr-2" modal="LoanAssignModalComponent" size="lg" [dataAlt]="loanSub.lnkey" (onSuccess)="doSomething($event)">
														<i class="fa fa-share" aria-hidden="true"></i> Reassign
													</launch-modal>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</ng-template>
						</ngb-tab>
					</ngb-tabset>
				</div>


			</ng-template>
		</ngb-panel>
	</ngb-accordion>

</div>