// Include global application specific styling here

#logo{
		min-width:132px;display:block;height:45px;position:relative;
		.logo{background:url('/assets/img/loan-delegator-logo.png') no-repeat top left;min-width:132px;display:block;height:67px;position: absolute;top: -3px;}

}

.table{margin:0;color:#000;
	th, td{font-weight:normal;font-size:0.9rem;border:0;
		&.sm{font-size:0.7rem;}
	}
	.fa-check{font-size: 1.1rem;margin-left: 5px;}
	.badge{min-width: 40px;}
}

.green{color:forestgreen;}
ngb-accordion{
	&.flex .card-header a{display:flex!important;}
	.card-header{
		& > a{
			div{color:#000;}
		}
	}	
}